.navbar {
    background-color: #5fb004;
}

.quem-somos {
    background-color: #635cca;
    color: white;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: lightblue;
}

